@media screen and (max-width: 600px) {

    *{
        font-size: 1.1rem;
    }
    .background {
        background-image:none;
        position: relative;
    }

    .formbox {
        border-radius: 50px 50px 0 0;
        position: absolute;
        bottom:0;
        left: 0;
        right: 0;
        width: 100%;
        height:auto;
        max-width: 100%;
    }
    .commentbox {
        .comment {
            &::placeholder {
                top: 1%;
            }
        }
    }

    .smallImage {
        display: flex;
        width: 100%;
        flex-grow: 1;
        position: absolute;
        top:0px;
        height: 100%;
        background-image: $background-image;
        background-repeat: no-repeat;
        background-size: auto 500px;
        background-position: top;
    }

    .rating__star{
        width: 2.5rem;
    }
    .commentbox{
        .comment{
            transition: height 0.01s ease;
        }
    }
    .commentbox:focus-within{
        min-height: 400px;
    }
    .comment:focus{
        height: 400px !important;
    }
}