$primary: #7AA5AD;
$primary-con: #3E7F95;
$text-con: #7B6A51;
$primary-t: lighten($primary, 10%);
$background: #E2E3E7;
$bezier: cubic-bezier(0.42, 0, 0.58, 1);
$trans-dur: 0.3s;
$background-image: url('../visuals/varda.jpeg');
