* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem; }

form {
  width: 90%; }

.row {
  display: flex;
  flex-wrap: wrap; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Full height of the viewport */ }

.background {
  height: 100%;
  background-image: url("../visuals/varda.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*card with gray background*/
.formbox {
  max-width: 650px;
  padding: 3% 0.1rem;
  border-radius: 5%;
  background-color: #E2E3E7; }

/*title and director*/
.titlebox {
  margin: 2%;
  padding: 1%; }
  .titlebox .title {
    font-size: 1.5rem;
    font-weight: 700; }
  .titlebox .director {
    font-weight: 500; }

.line {
  height: 1px;
  background-color: #7AA5AD;
  width: 75%;
  margin: 3% auto;
  align-self: center; }

/*comment box*/
.commentbox {
  margin-top: 6%;
  margin-bottom: 1%;
  background-color: #fff;
  border: 1px solid #7AA5AD;
  border-radius: 20px;
  width: 75%; }
  .commentbox .comment {
    font-weight: 500;
    padding-left: 0.6%;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    overflow: none;
    resize: none;
    transition: all 1s ease; }
    .commentbox .comment::placeholder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .commentbox .comment:focus {
      margin-right: 5%;
      transform: scale(1.2);
      height: 200px; }
  .commentbox .icon {
    margin-left: 1.5%;
    color: #7AA5AD; }

/*button design*/
.buttonbox {
  margin: 0.8rem 0; }
  .buttonbox .button {
    padding: 0.5rem;
    border-radius: 20px;
    background: #7AA5AD;
    text-transform: capitalize;
    font-weight: 700;
    outline: 0;
    bottom: 0;
    transition: 0.2s;
    width: 50%;
    max-width: 350px; }
    .buttonbox .button:hover, .buttonbox .button:active {
      background: #9abac0;
      transform: scale(1.05);
      transition: 0.3s; }

/*logo footer*/
.logo {
  width: 75%;
  margin: 3% 0; }
  .logo .logoImg {
    width: 15%; }
  .logo .logoName {
    font-size: 0.6rem;
    color: #552261;
    font-weight: 700;
    text-align: center; }

/*background image trick for small screens*/
.smallImage {
  display: none; }

@keyframes starRing {
  from,
    20% {
    animation-timing-function: ease-in;
    opacity: 1;
    r: 8px;
    stroke-width: 16px;
    transform: scale(0); }
  35% {
    animation-timing-function: ease-out;
    opacity: 0.5;
    r: 8px;
    stroke-width: 16px;
    transform: scale(1); }
  50%,
    to {
    opacity: 0;
    r: 16px;
    stroke-width: 0;
    transform: scale(1); } }
@keyframes starFill {
  from,
    40% {
    animation-timing-function: ease-out;
    transform: scale(0); }
  60% {
    animation-timing-function: ease-in-out;
    transform: scale(1.2); }
  80% {
    transform: scale(0.9); }
  to {
    transform: scale(1); } }
@keyframes starStroke {
  from {
    transform: scale(1); }
  20%,
    to {
    transform: scale(0); } }
@keyframes starLine {
  from,
    40% {
    animation-timing-function: ease-out;
    stroke-dasharray: 1 23;
    stroke-dashoffset: 1; }
  60%,
    to {
    stroke-dasharray: 12 13;
    stroke-dashoffset: -13; } }
.rating {
  margin: auto; }
  .rating__display {
    font-size: 1.2rem;
    font-weight: 700;
    min-height: 1.2rem;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 0.2rem; }
  .rating__stars {
    display: flex;
    padding-bottom: 0.2rem;
    position: relative; }
  .rating__star {
    display: block;
    overflow: visible;
    pointer-events: none;
    width: 3rem;
    height: 3rem; }
    .rating__star-ring, .rating__star-fill, .rating__star-line, .rating__star-stroke {
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    .rating__star-ring, .rating__star-fill, .rating__star-line {
      stroke: #7AA5AD; }
    .rating__star-fill {
      fill: #7AA5AD;
      transform: scale(0);
      transition: fill 0.3s cubic-bezier(0.42, 0, 0.58, 1), transform 0.3s cubic-bezier(0.42, 0, 0.58, 1); }
    .rating__star-line {
      stroke-dasharray: 12 13;
      stroke-dashoffset: -13; }
    .rating__star-stroke {
      stroke: #7AA5AD;
      transition: stroke 0.3s; }
  .rating__label {
    cursor: pointer;
    padding: 0.25rem; }
  .rating__label--delay1 .rating__star-ring, .rating__label--delay1 .rating__star-fill, .rating__label--delay1 .rating__star-line, .rating__label--delay1 .rating__star-stroke {
    animation-delay: 0.05s; }
  .rating__label--delay2 .rating__star-ring, .rating__label--delay2 .rating__star-fill, .rating__label--delay2 .rating__star-line, .rating__label--delay2 .rating__star-stroke {
    animation-delay: 0.1s; }
  .rating__label--delay3 .rating__star-ring, .rating__label--delay3 .rating__star-fill, .rating__label--delay3 .rating__star-line, .rating__label--delay3 .rating__star-stroke {
    animation-delay: 0.15s; }
  .rating__label--delay4 .rating__star-ring, .rating__label--delay4 .rating__star-fill, .rating__label--delay4 .rating__star-line, .rating__label--delay4 .rating__star-stroke {
    animation-delay: 0.2s; }
  .rating__input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none; }
  .rating__input:hover ~ [data-rating]:not([hidden]) {
    display: none; }
  .rating__input-1:hover ~ [data-rating="1"][hidden], .rating__input-2:hover ~ [data-rating="2"][hidden], .rating__input-3:hover ~ [data-rating="3"][hidden], .rating__input-4:hover ~ [data-rating="4"][hidden], .rating__input-5:hover ~ [data-rating="5"][hidden], .rating__input:checked:hover ~ [data-rating]:not([hidden]) {
    display: block; }
  .rating__input-1:hover ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:hover ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:hover ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:hover ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:hover ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
    stroke: #7AA5AD;
    transform: scale(1); }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-ring, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-ring, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-ring, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-ring, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-ring {
    animation-name: starRing; }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
    animation-name: starStroke; }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-line, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-line, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-line, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-line, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-line {
    animation-name: starLine; }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-fill, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-fill, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-fill, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-fill {
    animation-name: starFill; }
  .rating__input-1:not(:checked):hover ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:not(:checked):hover ~ .rating__label:nth-of-type(2) .rating__star-fill, .rating__input-3:not(:checked):hover ~ .rating__label:nth-of-type(3) .rating__star-fill, .rating__input-4:not(:checked):hover ~ .rating__label:nth-of-type(4) .rating__star-fill, .rating__input-5:not(:checked):hover ~ .rating__label:nth-of-type(5) .rating__star-fill {
    fill: #7AA5AD; }
  .rating__sr {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px; }

@media screen and (max-width: 650px) {
  * {
    font-size: 1rem; }

  .background {
    background-image: none;
    position: relative; }

  .formbox {
    border-radius: 40px 40px 0 0;
    position: absolute;
    bottom: 0px; }

  .smallImage {
    display: flex;
    width: 100%;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    height: 100%;
    background-image: url("../visuals/varda.jpeg");
    background-repeat: no-repeat;
    background-size: auto 505px;
    background-position: top; }

  .rating__star {
    width: 2.5rem; } }

/*# sourceMappingURL=new.css.map */
