/* line 2, _main.scss */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif; }

/* line 10, _main.scss */
form {
  width: 90%; }

/* line 14, _main.scss */
.row {
  display: flex;
  flex-wrap: wrap; }

/* line 19, _main.scss */
.center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 25, _main.scss */
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Full height of the viewport */ }

/* line 32, _main.scss */
.background {
  height: 100%;
  background-image: url("../visuals/varda.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* line 40, _main.scss */
.formbox {
  max-width: 500px;
  background-color: #fff;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: #E2E3E7;
  border: none; }

/* line 49, _main.scss */
.titlebox {
  margin: 0.5rem;
  padding: 0.1rem; }

/* line 54, _main.scss */
.line {
  height: 1px;
  background-color: #7AA5AD;
  width: 50%;
  margin: 0.1rem auto; }

/* line 61, _main.scss */
.buttonbox {
  margin: 0.5rem 0; }

/* line 65, _main.scss */
.button {
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 20px;
  color: #000;
  background: #7AA5AD;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  bottom: 0;
  transition: 0.2s;
  width: 50%;
  max-width: 350px;
  font-size: 1rem; }
  /* line 82, _main.scss */
  .button:hover {
    background: #808080;
    transform: scale(0.95);
    transition: 0.3s; }
  /* line 88, _main.scss */
  .button:active {
    background: #000;
    color: #7AA5AD; }

/* line 94, _main.scss */
.title {
  font-size: 1.8rem;
  font-weight: bold; }

/* line 99, _main.scss */
.director {
  font-size: 1rem;
  font-weight: 400; }

/*logo footer*/
/* line 106, _main.scss */
.logo {
  width: 100%;
  margin: 1rem 0; }

/* line 111, _main.scss */
.logoImg {
  width: 15%; }

/* line 115, _main.scss */
.logoName {
  font-size: 0.7rem;
  color: #552261;
  font-weight: bold;
  text-align: center; }

/* line 122, _main.scss */
.hide {
  display: none; }

/* line 126, _main.scss */
.smallImage {
  display: none; }

@keyframes starRing {
  from,
    20% {
    animation-timing-function: ease-in;
    opacity: 1;
    r: 8px;
    stroke-width: 16px;
    transform: scale(0); }
  35% {
    animation-timing-function: ease-out;
    opacity: 0.5;
    r: 8px;
    stroke-width: 16px;
    transform: scale(1); }
  50%,
    to {
    opacity: 0;
    r: 16px;
    stroke-width: 0;
    transform: scale(1); } }
@keyframes starFill {
  from,
    40% {
    animation-timing-function: ease-out;
    transform: scale(0); }
  60% {
    animation-timing-function: ease-in-out;
    transform: scale(1.2); }
  80% {
    transform: scale(0.9); }
  to {
    transform: scale(1); } }
@keyframes starStroke {
  from {
    transform: scale(1); }
  20%,
    to {
    transform: scale(0); } }
@keyframes starLine {
  from,
    40% {
    animation-timing-function: ease-out;
    stroke-dasharray: 1 23;
    stroke-dashoffset: 1; }
  60%,
    to {
    stroke-dasharray: 12 13;
    stroke-dashoffset: -13; } }
/* line 2, _stars.scss */
.rating {
  margin: auto; }
  /* line 5, _stars.scss */
  .rating__display {
    font-size: 1em;
    font-weight: 500;
    min-height: 1.25em;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center; }
  /* line 15, _stars.scss */
  .rating__stars {
    display: flex;
    padding-bottom: 0.375em;
    position: relative; }
  /* line 21, _stars.scss */
  .rating__star {
    display: block;
    overflow: visible;
    pointer-events: none;
    width: 2em;
    height: 2em; }
    /* line 28, _stars.scss */
    .rating__star-ring, .rating__star-fill, .rating__star-line, .rating__star-stroke {
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    /* line 37, _stars.scss */
    .rating__star-ring, .rating__star-fill, .rating__star-line {
      stroke: #7AA5AD; }
    /* line 43, _stars.scss */
    .rating__star-fill {
      fill: #7AA5AD;
      transform: scale(0);
      transition: fill 0.3s cubic-bezier(0.42, 0, 0.58, 1), transform 0.3s cubic-bezier(0.42, 0, 0.58, 1); }
    /* line 51, _stars.scss */
    .rating__star-line {
      stroke-dasharray: 12 13;
      stroke-dashoffset: -13; }
    /* line 56, _stars.scss */
    .rating__star-stroke {
      stroke: #7AA5AD;
      transition: stroke 0.3s; }
  /* line 62, _stars.scss */
  .rating__label {
    cursor: pointer;
    padding: 0.125em; }
  /* line 69, _stars.scss */
  .rating__label--delay1 .rating__star-ring, .rating__label--delay1 .rating__star-fill, .rating__label--delay1 .rating__star-line, .rating__label--delay1 .rating__star-stroke {
    animation-delay: 0.05s; }
  /* line 69, _stars.scss */
  .rating__label--delay2 .rating__star-ring, .rating__label--delay2 .rating__star-fill, .rating__label--delay2 .rating__star-line, .rating__label--delay2 .rating__star-stroke {
    animation-delay: 0.1s; }
  /* line 69, _stars.scss */
  .rating__label--delay3 .rating__star-ring, .rating__label--delay3 .rating__star-fill, .rating__label--delay3 .rating__star-line, .rating__label--delay3 .rating__star-stroke {
    animation-delay: 0.15s; }
  /* line 69, _stars.scss */
  .rating__label--delay4 .rating__star-ring, .rating__label--delay4 .rating__star-fill, .rating__label--delay4 .rating__star-line, .rating__label--delay4 .rating__star-stroke {
    animation-delay: 0.2s; }
  /* line 77, _stars.scss */
  .rating__input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none; }
  /* line 84, _stars.scss */
  .rating__input:hover ~ [data-rating]:not([hidden]) {
    display: none; }
  /* line 88, _stars.scss */
  .rating__input-1:hover ~ [data-rating="1"][hidden], .rating__input-2:hover ~ [data-rating="2"][hidden], .rating__input-3:hover ~ [data-rating="3"][hidden], .rating__input-4:hover ~ [data-rating="4"][hidden], .rating__input-5:hover ~ [data-rating="5"][hidden], .rating__input:checked:hover ~ [data-rating]:not([hidden]) {
    display: block; }
  /* line 98, _stars.scss */
  .rating__input-1:hover ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:hover ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:hover ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:hover ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:hover ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
    stroke: #7AA5AD;
    transform: scale(1); }
  /* line 107, _stars.scss */
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-ring, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-ring, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-ring, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-ring, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-ring {
    animation-name: starRing; }
  /* line 115, _stars.scss */
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
    animation-name: starStroke; }
  /* line 123, _stars.scss */
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-line, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-line, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-line, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-line, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-line {
    animation-name: starLine; }
  /* line 131, _stars.scss */
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-fill, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-fill, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-fill, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-fill {
    animation-name: starFill; }
  /* line 139, _stars.scss */
  .rating__input-1:not(:checked):hover ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:not(:checked):hover ~ .rating__label:nth-of-type(2) .rating__star-fill, .rating__input-3:not(:checked):hover ~ .rating__label:nth-of-type(3) .rating__star-fill, .rating__input-4:not(:checked):hover ~ .rating__label:nth-of-type(4) .rating__star-fill, .rating__input-5:not(:checked):hover ~ .rating__label:nth-of-type(5) .rating__star-fill {
    fill: rgba(37, 213, 244, 0); }
  /* line 148, _stars.scss */
  .rating__sr {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px; }

@media screen and (max-width: 950px) {
  /* line 2, _small.scss */
  .background {
    justify-content: flex-end;
    background-color: var(--background); }

  /* line 7, _small.scss */
  .formbox {
    border-radius: 25px 25px 0 0; }

  /* line 11, _small.scss */
  .smallImage {
    display: flex;
    width: 100%;
    flex-grow: 1;
    background-image: url("../visuals/varda.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; } }

/*# sourceMappingURL=new.css.map */
