/* general settings */
* {
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem; 
        font-weight: 300;   
    }
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

form {
    width: 90%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.background {
    height: 100%;
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*card with gray background*/
.formbox {
    max-width: 600px;
    padding: 1% 0.1rem;
    border-radius: 10%;
    background-color: $background;
}

/*title and director*/
.titlebox {
    margin: 2%;
    padding: 1%;
    text-align: center;
    .title {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.line {
    height: 1px;
    background-color: $primary;
    width: 75%;
    margin: 2% auto;
    align-self: center;
}

/*comment box*/
.commentbox {
    margin-top: 7%;
    width: 75%;
    .comment {
        background-color: #fff;
        padding-left: 0.5rem;
        border: 1px solid $primary;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        outline: none;
        overflow: hidden;
        resize: none;
        transition:  height $trans-dur ease;
        position: relative;
        &::placeholder {
            position: absolute;
            top: 25%;
            left: 0%;
            padding: 0 0.5rem;
            }
        &:focus{
            height: 300px;
            &::placeholder {
                top: 1%;
            }
            
        }

    }

    .icon {
        margin-right: 1.5%;
        color: $primary;
        background-color: #fff;
        border-radius: 50%;
        font-size: 1.5rem;
    }
}
.commentbox:focus-within .icon {
    display: none; // Hide the icon when any child of commentbox is focused
}

/*button design*/
.buttonbox {
    margin: 0.8rem 0;
    .button {
        padding: 0.5rem;
        border-radius: 20px;
        background: $primary;
        text-transform: capitalize;
        font-weight: 400;
        outline: 0;
        bottom: 0;
        transition: 0.2s;
        width: 50%;
        max-width: 350px;
        &:hover, &:active {
            background: $primary-t;
            transform: scale(1.05);
            transition: $trans-dur;
        }
    }
}





/*logo footer*/
.logo {
    width: 75%;
    margin: 3% 0;
    display: flex;
    justify-content: space-around;
    .logoImg {
        width: 15%;
    }
    .logoName {
        font-size: 0.6rem;
        color: #552261;
        text-align: center;
    }
    /*language option*/
    .langbox {
        padding: 0.2rem;
        background-color: $primary;
        border-radius: 10px;
        gap:3px;
    }

    .lang {
        font-size: 1rem;
    }
}




/*background image trick for small screens*/
.smallImage {
    display: none;
}
