@media screen and (max-width: 600px) {

    *{
        font-size: 1.1rem;
    }
    .background {
        background-image:none;
        display: flex;
    }

    .formbox {
        border-radius: 50px 50px 0 0;
        width: 100%;
        height: 50%;
        z-index: 2;
        max-width: 100%;
        margin-top: -40px;
        justify-self: flex-end;
    }
    .titlebox{
        .title{
            font-size: 1.4rem;
        }
    }
    .commentbox {
        .comment {
            &::placeholder {
                top: 1%;
            }
        }
    }
    .commentbox {
        .comment {
            transition: height 0.01s ease;
        }
    }
    .formbox:focus-within{
        height: auto;
    }
    .commentbox:focus-within {
        min-height: 400px;
    }

    .comment:focus {
        height: 400px !important;
    }
    .line {
        margin: 0 auto;
    }
    .smallImage {
        display: flex;
        width: 100%;
        flex-grow: 1;
        height: 50%;
        background-image: $background-image;
        background-position: center;
        background-size: cover;
    }

    .rating__star{
        width: 2.5rem;
    }
    .logo{
        margin: 1% 0;
    }

}