@media screen and (max-width: 600px) {

    *{
        font-size: 1.1rem;
    }
    .background {
        background-image:none;
        display: flex;
    }

    .formbox {
        border-radius: 50px 50px 0 0;
        width: 100%;
        max-height: 50%;
        z-index: 2;
        max-width: 100%;
        margin-top: -40px;
        justify-self: flex-end;
    }
    .titlebox{
        .title{
            font-size: 1.4rem;
        }
    }
    .commentbox {
        .comment {
            &::placeholder {
                font-size: 0.9rem;
            }
        }
    }
    .commentbox {
        max-height: 50px;
        margin-top: 5%;
        .comment {
            transition: height 0.01s ease;
        }
    }
    .formbox:focus-within{
        height: auto;
        max-height: 100%;
    }
    .commentbox:focus-within {
        min-height: 300px;
    }

    .comment:focus {
        height: 300px !important;
    }
    .line {
        margin: 0.1rem auto;
        min-height: 1px;
    }
    .smallImage {
        display: flex;
        width: 100%;
        flex-grow: 1;
        height: 50%;
        background-image: $background-image;
        background-position: center;
        background-size: cover;
    }

    .rating__star{
        width: 2.5rem;
    }
    .logo{
        margin: 1% 0;
    }
    .buttonbox {
        margin: 0.5rem 0;

        .button {
            font-size: 0.9rem;
            padding: 0.25rem;
        }
    }
    .rating__display {
        top: 75%;
    }
}